@tailwind base;

@layer base {
  html {
    @apply text-grayDark;
  }
}

@layer components {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .box-shadow-glow {
    @apply transition-all shadow-zero focus:shadow-glow;
  }

  ;
}

@tailwind components;
@tailwind utilities;


:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0284c7;
  --primary-shadow: #0284c799;
  --primaryLight: #eff6ff;
  --primaryLight2: #d9e9ff;
  --grayLight: #fafafa;
  --grayNeutral: #dfdfdf;
  --grayDark: #52525b;
  --secondary: #0284c7;
  --accent: #00915B;
  --transparent: #00000000;
  --foregroundLight: #ffffff;
  --foregroundDark: #454545;
}

:root .dark {
  --primary: #000;
  --primary-shadow: #ccc;
  --primaryLight: #666;
  --primaryLight2: #444;
  --grayLight: #555;
  --grayNeutral: #404040;
  --grayDark: #dfdfdf;
  --foregroundLight: #111111;
  --foregroundDark: #ddd;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
body.dark ::-webkit-scrollbar {
  width: auto; /* Width of the scrollbar */
}
body.dark *{
  scrollbar-width: thin;
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the thumb (the draggable part) */
}

body.dark ::-webkit-scrollbar-track {
  background-color: #555; /* Color of the track (the non-draggable part) */
}

/* For Firefox */
body.dark *{
  scrollbar-color: #333 #555; /* thumb and track colors */
}

/* For IE/Edge */
body.dark * {
  scrollbar-face-color: #333; /* Color of the thumb */
  scrollbar-track-color: #555; /* Color of the track */
}