@tailwind base;

@layer base {
  html {
    @apply text-grayDark;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .box-shadow-glow {
    @apply transition-all shadow-zero focus:shadow-glow;
  }
  
  .shadow-card {
    box-shadow: rgba(var(--shadow-rgb), 0.15) 0px 0px 2px, rgba(var(--shadow-rgb), 0.08) 0px 0px 6px;
  }
  .dark .shadow-card {
    box-shadow: rgba(var(--shadow-rgb), .3) 0px 0px 2px, rgba(var(--shadow-rgb), 0.2) 0px 0px 6px;
  }
}

@tailwind components;
@tailwind utilities;


:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #0284c7;
  --primary-shadow: #0284c799;
  --primaryLight: #eff6ff;
  --primaryLight2: #d9e9ff;
  --grayLight: #f6f6f6;
  --grayNeutral: #dfdfdf;
  --grayDark: #52525b;
  --secondary: #0284c7;
  --accent: #00915B;
  --transparent: #00000000;
  --foregroundLight: #ffffff;
  --foregroundDark: #454545;
  --shadow-rgb: 0,0,0;
}

:root .dark {
  --primary: #000;
  --primary-shadow: #ccc;
  --primaryLight: #666;
  --primaryLight2: #444;
  --grayLight: #555;
  --grayNeutral: #404040;
  --grayDark: #dfdfdf;
  --foregroundLight: #111111;
  --foregroundDark: #ddd;
  --shadow-rgb: 255,255,255;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
body.dark ::-webkit-scrollbar {
  width: auto; /* Width of the scrollbar */
}
body.dark *{
  scrollbar-width: thin;
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the thumb (the draggable part) */
}

body.dark ::-webkit-scrollbar-track {
  background-color: #555; /* Color of the track (the non-draggable part) */
}

/* For Firefox */
body.dark *{
  scrollbar-color: #333 #555; /* thumb and track colors */
}

/* For IE/Edge */
body.dark * {
  scrollbar-face-color: #333; /* Color of the thumb */
  scrollbar-track-color: #555; /* Color of the track */
}